<div class="bg-customYellow relative z-0">
    <div class="flex h-fit bg-cover bg-center relative z-0 opacity-80 grayscale pb-48 backdrop-brightness-0" style="background-image: url('./././assets/mission2background.png');">
        <div class="flex flex-col pt-36 mx-48 ">
            <a data-aos="fade-up" data-aos-duration="2000" 
            class="text-xl text-white font-plus-jakarta-sans pb-12 md:text-xl lg:text-base">
            Misja <span class="font-bold">DEI</span> team</a>
            <a class="text-6xl w-2/3 font-bold leading-snug text-white font-plus-jakarta-sans">
            Kreowanie otwartego środowiska w organizacjach, gdzie różnorodność jako naturalna zaleta jednostki w połączeniu z równością szans jest traktowana jako cnota otaczającego nas społeczeństwa.
            </a>
        </div>
    </div>
</div>
