<div class="h-full bg-customRed">
    <div class="flex h-full justify-between items-center pt-24">
        <a class="text-base text-white font-plus-jakarta-sans mx-48">O DEI Team</a>
    </div>
    <div class="flex items-center mx-48 pt-48 pb-12">
        <div class="flex flex-wrap w-full">
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-9xl mb-4">DEI team to</h1>
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-9xl">też Ty,</h1>
        </div>
    </div>
    <div class="flex items-start mx-48 pb-96 relative ">
        <div class="text-wrapper flex flex-col items-start relative">
          <div class="text-6xl leading-relaxed w-4/5 font-semibold font-plus-jakarta-sans text-black relative">
            <h4> tworzymy inkluzywny team, w którym każdy ma swoje miejsce w Community Zone lub Organisation Zone, i gdyby któregoś zabrakło, bylibyśmy niekompletni -</h4>
          </div>
          <div class="text-6xl leading-relaxed w-4/5 font-black font-plus-jakarta-sans text-black">
            <h4>zapraszamy Ciebie do DEI team'u!</h4>
          </div>
        </div>
    </div>    
</div>
