<div class="h-full bg-customRed">
    <div class="flex h-full justify-between items-center pt-12 md:pt-24 lg:pt-36 2xl:pt-60">
        <a data-aos="fade-up" data-aos-duration="1000" class="text-base text-white font-plus-jakarta-sans mx-12 md:mx-24 md:text-xl lg:text-base 2xl:mx-48">O DEI Team</a>
    </div>
    <div class="flex items-center mx-12 pt-12 pb-8 md:space-x-24 md:mx-24 md:pt-24 md:pb-16 lg:mx-48">
        <div data-aos="fade-right" data-aos-duration="1000" class="flex flex-wrap w-full">
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-3xl mb-4 md:text-6xl lg:text-9xl">DEI team to</h1>
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-3xl mb-4 md:text-6xl lg:text-9xl">też Ty,</h1>
        </div>
    </div>
    <div class="flex items-start mx-12 pb-24 relative md:mx-24 md:pb-32 lg:mx-48 lg:pb-48">
        <div data-aos="fade-up" data-aos-duration="1000" class="text-wrapper flex flex-col items-start relative">
          <div class="text-2xl md:text-4xl lg:text-5xl 2xl:text-7xl leading-relaxed w-4/5 font-semibold font-plus-jakarta-sans text-black relative">
            <h4> tworzymy inkluzywny team, w którym każdy ma swoje miejsce w Community Zone lub Organisation Zone, i gdyby któregoś zabrakło, bylibyśmy niekompletni -</h4>
          </div>
          <div class="text-2xl md:text-4xl lg:text-5xl 2xl:text-7xl leading-relaxed w-4/5 font-black font-plus-jakarta-sans text-black">
            <h4>zapraszamy Ciebie do DEI team'u!</h4>
          </div>
        </div>
    </div>    
</div>
