<div class="h-full bg-customYellow">
  <div class="flex h-full justify-between items-center pt-24">
    <a class="text-base text-white font-plus-jakarta-sans mx-48">O DEI Team</a>
    <div class="contact mx-48 flex flex-col">
      <a class="text-base text-black font-black font-plus-jakarta-sans">KONTAKT</a>
      <span class="text-3xl cursor-pointer text-white ml-12">
        <!-- <ion-icon name="mail-open-outline"></ion-icon> -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
          <polyline points="22,6 12,13 2,6" />
        </svg>

      </span>
    </div>    
  </div>
  <div class="text-9xl font-plus-jakarta-sans font-black text-white mx-48 pt-48 pb-64">
    <h1>O DEI team</h1>
  </div>
  <div class="flex justify-center items-center pt-24 relative">
    <div class="text-wrapper w-1/2 flex flex-col items-start relative">
      <div class="text-xl font-plus-jakarta-sans text-black relative">
        <h4>TŁUMACZYMY WARTOŚCI DE&I DLA KAŻDEGO</h4>
      </div>
      <div class="text-8xl font-plus-jakarta-sans text-white font-black pt-12 ">
        <h2>Budujemy mosty</h2>
      </div>
      <div class="text-6xl font-plus-jakarta-sans text-black font-black pt-24">
        <h3>Transformujemy Organizacje tym samym wzbogacając Społeczeństwo.</h3>
      </div>
      <div class="flex flex-col space-y-12 text-xl font-plus-jakarta-sans text-black pt-40">
        <h4>Jesteśmy DEI Team - fundacją, która promuje holistyczne podejście do różnorodności, równości i inkluzywności w organizacjach, jak również w społecznościach, które dążą do realizacji celów związanych z ESG (Environmental, Social, and Governance), jak również w innych formach zrównoważonego rozwoju.</h4>
        <h4>Nasza misja polega na transferowaniu globalnych rozwiązań na rozwiązanie regionalnych problemów. Nasze wsparcie skupia się na dwóch głównych odbiorcach: osobach indywidualnych oraz organizacjach. Działamy na rzecz tworzenia środowisk pracy i zrzeszania społeczności, które są otwarte, sprawiedliwe i przyjazne dla różnorodności. Pragniemy, aby każda osoba, każda społeczność i każda organizacja mogła rozwijać się w oparciu o wartości, które promujemy.</h4>
        <h4>Zostań częścią DEI Team już dziś i dowiedz się więcej o tym, jak możemy wspólnie budować bardziej zrównoważoną i inkluzywną przyszłość dla wszystkich.</h4>
      </div>
      <div class="text-3xl font-plus-jakarta-sans text-black font-black pt-56 pb-48">
        <h3>Dołącz do naszej wspólnoty, która działa na rzecz pozytywnych zmian!</h3>
      </div>
    </div>  
    <div class="absolute m-auto left-0 right-0 top-0 flex justify-center items-center mx-44">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -6 6 6" class="fill-white-500">
        <path d="M 0 0 L 4 0 L 6 -2 L 6 -6 L 2 -6 L 0 -4 L 0 0 V 0 L 2 0 L 2 -6 L 4 -6 L 4 0 L 6 -2 L 0 -2 L 0 -4 L 6 -4" stroke="white" stroke-width="0.01" fill="none"/>
      </svg>
    </div>
  </div>
</div>