<div class="bg-customYellow relative">
  <div class="flex h-full pt-36 justify-end items-end">
    <div class="contact mx-48 flex flex-col">
      <a href="#red2" class="bg-white font-bold text-black font-plus-jakarta-sans py-2 px-4 fixed right-0 mr-10 lg:mr-80 lg:py-4 lg:px-8 z-20">
        Dołącz do DEI team 
      </a>
    </div>
  </div>
  <div class="relative">
    <div class="title-wrapper relative z-10 lg:mx-24 2xl:mx-0">
      <div data-aos="fade-right" data-aos-duration="1000" class="text-3xl font-plus-jakarta-sans font-bold text-white mx-12 pt-24 pb-4 
      md:mx-24 md:text-7xl md:pt-24 2xl:ml-80 relative">
        <h3>Jesteśmy</h3>
      </div>
      <div data-aos="fade-right" data-aos-duration="1000" class="text-6xl font-plus-jakarta-sans font-black text-black mx-12 md:mx-24 md:text-9xl 2xl:ml-80">
        <h1>DEI <span class="font-bold">team</span></h1>
      </div>
    </div>
    <div class="absolute left-0 right-0 top-20 flex justify-center items-center mx-4 z-0 md:mx-16 lg:mx-24">
      <img src="./././assets/Group 42.png">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -6 6 6" >
        <path d="M 0 0 L 4 0 L 6 -2 L 6 -6 L 2 -6 L 0 -4 L 0 0 V 0 L 2 0 L 2 -6 L 4 -6 L 4 0 L 6 -2 L 0 -2 L 0 -4 L 6 -4" stroke="white" stroke-width="0.01" fill="none"/>
      </svg> -->
    </div>
  </div>
  <div class="flex justify-start items-start pt-4 relative mx-12 md:mx-24 lg:mx-48 2xl:mx-0">
    <div class="text-wrapper w-2/3 flex flex-col items-start relative z-10 md:pb-36 2xl:pb-0">
      <div data-aos="fade-right" data-aos-duration="1000" class="text-xl font-plus-jakarta-sans text-white font-bold pt-4 md:text-3xl 2xl:text-6xl 2xl:pt-12 2xl:ml-80">
        <h3>Pomagamy organizacjom zrozumieć i wdrożyć wartości Diversity, Equity & Inclusion.</h3>
      </div>
      <div class="flex justify-between items-center w-full pt-12 pb-12 ">
        <hr class="w-full lg:w-2/3 border-t-2 border-white-500 ml-auto">
      </div>
      <div data-aos="fade-right" data-aos-duration="1000" class="text-xl font-plus-jakarta-sans text-white font-bold pt-4 md:text-3xl 2xl:text-6xl 2xl:pb-28 2xl:ml-80">
        <h3>Wspieramy społeczności i jednostki poprzez edukację, dialog i partnerstwo międzynarodowe.</h3>
      </div>
      <div data-aos="fade-right" data-aos-duration="1000" class="flex flex-col space-y-4 text-xs font-plus-jakarta-sans text-black pt-12 pb-12 md:text-xl md:space-y-8 2xl:font-bold 2xl:text-4xl 2xl:space-y-12 2xl:pb-48 2xl:ml-80">
        <h4>Nasza niezależna fundacja promuje holistyczne podejście do różnorodności, równości i inkluzywności w organizacjach, które dążą do realizacji celów związanych z <span class="text-white">ESG (Environmental, Social, and Governance)</span>, jak również w innych formach zrównoważonego rozwoju.</h4>
      </div>
    </div>  
  </div>  
</div>