<div class="h-full bg-customBlue">
    <div class="flex h-full justify-between items-center pt-24">
        <a class="text-base text-white font-plus-jakarta-sans mx-48">O DEI Team</a>
    </div>
    <div class="flex items-center mx-48 pt-48 pb-64 ">
        <div class="flex flex-wrap w-full">
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-6xl mb-4">Tło ulega</h1>
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-6xl">ciągłej zmianie</h1>
        </div>
    </div>
    <div class="flex items-start mx-48 pb-48 relative ">
        <div class="text-wrapper flex flex-col items-center relative">
          <div class="text-3xl leading-relaxed w-1/2 font-semibold font-plus-jakarta-sans text-white relative">
            <h4>Wierzymy, że organizacje oraz ich członkowie będący stale narażeni na wpływ zmian, są w stanie nie tylko zwiększyć swoją odporność i zdolność do adaptacji do otoczenia, ale również mogą zwiększyć innowacyjność i konkurencyjność poprzez promowanie wartości humanizmu w kulturze organizacyjnej. Obejmuje to tolerancję i zrozumienie jednostki, co pozwala wydobyć z niej jak najwięcej i jednocześnie mieć pozytywny wpływ na życie całego społeczeństwa.</h4>
          </div>
        </div>
        <div class="absolute m-auto left-0 right-0 -top-256 flex justify-center items-center mx-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -6 6 6">
            <path d="M 0 0 L 4 0 L 6 -2 L 6 -6 L 2 -6 L 0 -4 L 0 0 V 0 L 2 0 L 2 -6 L 4 -6 L 4 0 L 6 -2 L 0 -2 L 0 -4 L 6 -4" stroke="black" stroke-width="0.005" fill="none"/>
            </svg>
        </div>   
    </div>

</div>
