<div class="h-full bg-customBlue relative">
    <div class="flex h-full justify-between items-center pt-12 md:pt-24 lg:pt-36">
        <a data-aos="fade-up" data-aos-duration="1000" class="text-base text-white font-plus-jakarta-sans mx-12 md:mx-24 md:text-xl lg:text-base 2xl:mx-48">O DEI Team</a>
    </div>
    <div class="flex items-center mx-12 pt-12 pb-8 md:space-x-24 md:mx-24 md:pt-24 md:pb-16 lg:mx-48">
        <div data-aos="zoom-in-right" data-aos-duration="1000" class="flex flex-wrap w-full z-10">
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-3xl mb-4 md:text-5xl lg:text-7xl mb-4">Tło ulega</h1>
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-3xl mb-4 md:text-5xl lg:text-7xl">ciągłej zmianie</h1>
        </div>
    </div>
    <div class="flex items-start mx-4 pb-8 relative md:mx-24 md:pb-16 lg:mx-48 lg:pb-32 relative">
        <div class="text-wrapper flex flex-col items-center relative z-10">
          <div data-aos="flip-right" data-aos-duration="1000" class="text-sm leading-relaxed w-1/2 font-semibold font-plus-jakarta-sans text-white relative md:text-xl lg:text-2xl 2xl:text-4xl">
            <h4>Wierzymy, że organizacje oraz ich członkowie będący stale narażeni na wpływ zmian, są w stanie nie tylko zwiększyć swoją odporność i zdolność do adaptacji do otoczenia, ale również mogą zwiększyć innowacyjność i konkurencyjność poprzez promowanie wartości humanizmu w kulturze organizacyjnej. Obejmuje to tolerancję i zrozumienie jednostki, co pozwala wydobyć z niej jak najwięcej i jednocześnie mieć pozytywny wpływ na życie całego społeczeństwa.</h4>
          </div>
        </div>
        <div class="absolute mx-auto 2xl:mx-36 left-0 right-0 -top-80 flex justify-center items-center mx-4 z-0 md:-top-120 lg:-top-160 ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -6 6 6">
            <path d="M 0 0 L 4 0 L 6 -2 L 6 -6 L 2 -6 L 0 -4 L 0 0 V 0 L 2 0 L 2 -6 L 4 -6 L 4 0 L 6 -2 L 0 -2 L 0 -4 L 6 -4" stroke="black" stroke-width="0.005" fill="none"/>
            </svg>
        </div>   
    </div>

</div>
