<div class="h-full bg-customPurple">
    <div class="flex h-full justify-between items-center pt-24 md:pt-12 xl:pt-12 2xl:pt-12">
        <a data-aos="fade-up" data-aos-duration="1000" class="text-base text-white font-plus-jakarta-sans mx-12 md:mx-24 lg:pt-36 2xl:mx-48">O DEI Team</a>
    </div>
    <div class="flex items-center space-x-12 mx-12 pt-12 pb-8 md:space-x-24 md:mx-24 md:pt-24 md:pb-16 lg:mx-48">
        <div class="flex flex-wrap w-full">
            <h1 data-aos="fade-right" data-aos-duration="1000" class="w-full font-plus-jakarta-sans font-black text-white text-3xl mb-4 md:text-6xl lg:text-9xl">Misja</h1>
            <h1 data-aos="fade-right" data-aos-duration="1000" class="w-full font-plus-jakarta-sans font-black text-white text-3xl md:text-6xl lg:text-9xl">DEI team</h1>
        </div>
        <span data-aos="fade-left" data-aos-duration="1000" class="mr-20 h-full lg:mr-60 2xl:mr-80">
            <img src="./././assets/only_logo-removebg-preview.png" alt="Logo" class="w-auto h-full">
        </span>
    </div>
    <div class="flex items-start mx-12 pb-24 relative md:mx-24 md:pb-32 lg:mx-48 lg:pb-48">
        <div class="text-wrapper flex flex-col items-start relative">
          <div data-aos="flip-left" data-aos-duration="2000" class="text-2xl leading-relaxed w-4/5 font-bold font-plus-jakarta-sans text-black relative md:text-4xl lg:text-5xl 2xl:text-7xl">
            <h4>Kreowanie otwartego środowiska w organizacjach, gdzie różnorodność jako naturalna zaleta jednostki w połączeniu z równością szans jest traktowana jako cnota otaczającego nas społeczeństwa.</h4>
          </div>
        </div>
    </div>    
</div>
