<div class="h-full bg-customPurple">
    <div class="flex h-full justify-between items-center pt-24">
        <a class="text-base text-white font-plus-jakarta-sans mx-48">O DEI Team</a>
    </div>
    <div class="flex items-center mx-48 pt-48 pb-56 ">
        <div class="flex flex-wrap w-full">
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-9xl mb-4">Misja</h1>
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-9xl">DEI team</h1>
        </div>
        <span class="mr-20 h-80">
            <img src="./././assets/only_logo-removebg-preview.png" alt="Logo" class="w-auto h-full">
        </span>
    </div>
    <div class="flex items-start mx-48 pb-96 relative ">
        <div class="text-wrapper flex flex-col items-start relative">
          <div class="text-6xl leading-relaxed w-4/5 font-bold font-plus-jakarta-sans text-black relative">
            <h4>Kreowanie otwartego środowiska w organizacjach, gdzie różnorodność jako naturalna zaleta jednostki w połączeniu z równością szans jest traktowana jako cnota otaczającego nas społeczeństwa.</h4>
          </div>
        </div>
    </div>    
</div>
