<div class="bg-black">
    <nav class="p-5 bg-white shadow md:flex md:items-center md:justify-center gap-x-60">
        <div class="flex justify-between items-center">
            <span class="text-xl font-plus-jakarta-sans cursor-pointer">
                <img src="./././assets/logo-no-background2.png" alt="Logo" class="h-12 inline">
            </span>
            <span class="text-3xl cursor-pointer text-black mx-4 md:hidden block md:z-2" (click)="toggleMenu()">
                <ion-icon [name]="isMenuOpen ? 'close-outline' : 'menu-outline'"></ion-icon>
            </span>
        </div>
        <ul class="md:flex md:items-center z-[-1] md:z-auto md:static absolute bg-white w-full left-0 md:w-auto 
        md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
            <li class="mx-4 my-6 md:my-0">
                <a href="#" class="text-base text-black hover:text-customYellow duration-500">
                    o DEI team
                </a>
            </li>
            <li class="mx-4 my-6 md:my-0">
                <a href="#" class="text-base text-black hover:text-customYellow duration-500">
                    członkostwo w DEI team
                </a>
            </li>
            <li class="mx-4 my-6 md:my-0">
                <a href="#" class="text-base text-black hover:text-customYellow duration-500">
                    strefa dla społeczności
                </a>
            </li>
            <li class="mx-4 my-6 md:my-0">
                <a href="#" class="text-base text-black hover:text-customYellow duration-500">
                    strefa dla organizacji
                </a>
            </li>
        </ul>
    </nav>
</div>
