<div class="bg-customYellow">
    <div class="wrapper mx-48">
        <div data-aos="fade-right" data-aos-duration="1000" class="flex flex-col text-white pt-36 pb-12 font-plus-jakarta-sans font-bold">
            <p class="text-6xl">DEI team to tez ty</p>
            <p class="text-8xl text-black pt-12 ">Jesteśmy inkluzywnym teamem, w którym każdy ma swoje miejsce i gdyby Ciebie w nim zabrakło, bylibyśmy niekompletni.</p>
            <p class="text-8xl pt-24">Dowiedz się, co możesz zyskać dla siebie lub swojej organizacji dołączając do DEI team</p>
        </div>
        <div data-aos="fade-right" data-aos-duration="1000" class="flex flex-row space-x-12 pb-36">
            <div class="flex flex-col">
                <p class="text-xl text-white">Organizacje: </p>
                <ul class="list-disc pb-24">
                    <li>Globalny i lokalny networking, gdzie współpracujesz z ludźmi z różnych krajów i sektorów, wymieniając doświadczenia i wiedzę w zakresie DEI oraz implementacji oraz rozwoju tego segmentu w Twojej organizacji.</li>
                    <li>Rozwiązania minimalizujące bariery w zatrudnieniu. Uzyskasz dostęp do różnorodnej społeczności, która pomaga Twojej organizacji osiągać cele DEI, tym samym zwiększać poziom innowacji w zespołach czy usprawniać procesy rekrutacyjne.</li>
                    <li>Edukacja i wiedza, poprzez raporty bazujące na badaniach z dziedziny DEI w Polsce, poradniki pomagające zminimalizować bariery w zatrudnieniu, szkolenia i spotkania z profesjonalistami.</li>
                    <li>Doroczna uroczystość DEI team, celebrująca sukcesy całego DEI team na spotkaniu bogatym w wartościowe i wnikliwe informację, jak również networking.</li>
                </ul>
                <button class="bg-transparent text-3xl border-2 font-bold text-black font-plus-jakarta-sans py-4 px-8">Strefa dla Organizacji</button>
            </div>
            <div data-aos="fade-right" data-aos-duration="1000" class="flex flex-col">
                <p class="text-xl text-white">Osoby niezrzeszone w organizacjach:</p>
                <ul class="list-disc pb-24">
                    <li>Przynależność do globalnej i lokalnej społeczności, gdzie poprzez interakcje z innymi członkami z różnych branż, zwiększasz swoje szanse na osiągnięcie celów zawodowych i rozwój.</li>
                    <li>Możliwości zmniejszenia barier w zatrudnieniu poprzez dostęp do edukacji i procesów rekrutacyjnych w organizacjach promujących DEI.</li>
                    <li>Dostęp do stref dedykowanych specyficznym grupom, tj. DEI team Women Zone - dedykowane Kobietom, czy DEI team Inclusion Zone - dedykowane wielu grupom społecznym (małe miejscowości, mniejszości narodowe, LGBTQ+, i więcej).</li>
                    <li>Nowe znajomości branżowe i prywatne zdobywane podczas networkingu.</li>
                    <li>Realny wpływ na zmianę rynku pracy na bardziej otwarty, promujący DEI i inkluzywny.</li>
                </ul>
                <button class="bg-white text-3xl border-2 font-bold text-black font-plus-jakarta-sans py-4 px-8">Strefa dla Spolecznosci</button>
            </div>
        </div>
    </div>
</div>