<h2 mat-dialog-title>Cześć, zmieniamy się dla Ciebie!</h2>
<mat-dialog-content class="mat-typography">
  <h3>Niedługo nowa strona, a w niej dużo nowości, w tym:</h3>
  <ul>
    <li>
      Lokalne DEI team MeetUp'y: znajdź grupę 'DEI team Community' dla swojego
      miasta na <a href="https://meetup.com/">stronie</a>
    </li>
    <li>Kurs na DEI team Champion_ke_a</li>
    <li>
      Audyt DEI w Twojej organizacji - skontaktuj się z nami, jeżeli chcesz
      wsiedzieć więcej
    </li>
    <li>Grupy robocze - info wkrótce</li>
    <li>Społeczności na Slack - zapisz się wypełniając formularz kontaktowy</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (close)="close()">Close</button>
</mat-dialog-actions>
