<div class="h-full bg-customGreen">
    <div class="flex h-full justify-between items-center pt-24">
        <a class="text-base text-white font-plus-jakarta-sans mx-48">O DEI Team</a>
    </div>
    <div class="flex items-center mx-80 pt-48 pb-32 ">
        <div class="flex flex-wrap leading-relaxed w-full">
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-6xl mb-4">"Świat wokół ciebie</h1>
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-6xl mb-4">jest twoim</h1>
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-6xl mb-4">rozszerzonym ja"</h1>
        </div>
    </div>
    <div class="grid pb-48">
        <h4 class="text-3xl font-plus-jakarta-sans text-white justify-self-end mr-80">M. Gandhi </h4>
    </div>
    <div class="flex items-start mx-48 pb-48 relative">
        <div class="text-wrapper flex flex-col items-center relative">
          <div class="text-3xl leading-relaxed w-1/2 font-semibold font-plus-jakarta-sans text-white relative">
            <h4>Do pełnej otwartości powinniśmy wdrażać w życie ideę wzajemnego włączania i wyrównywania szans poprzez obopólne zrozumienie i empatię.</h4>
          </div>
        </div>
        <div class="absolute m-auto left-0 right-0 -top-200 flex justify-center items-center mx-24">
            <!-- <span>
                <img src="./././assets/only_logo-removebg-preview.png" alt="Logo" class="w-96 h-auto">
            </span> -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -6 6 6">
                <path d="M 0 0 L 4 0 L 6 -2 L 6 -6 L 2 -6 L 0 -4 L 0 0 V 0 L 2 0 L 2 -6 L 4 -6 L 4 0 L 6 -2 L 0 -2 L 0 -4 L 6 -4" stroke="black" stroke-width="0.005" fill="none"/>
            </svg>
        </div>
    </div>

</div>
