<div class="h-full bg-customGreen">
    <div class="flex h-full justify-between items-center pt-12 md:pt-24 lg:pt-36 2xl:pt-60">
        <a data-aos="fade-up" data-aos-duration="1000" class="text-base text-white font-plus-jakarta-sans mx-12 md:mx-24 md:text-xl lg:text-base 2xl:mx-48">O DEI Team</a>
    </div>
    <div class="flex items-center space-x-12 mx-12 pt-12 pb-8 md:space-x-24 md:mx-24 md:pt-24 md:pb-16 lg:mx-60 2xl:mx-80">
        <div data-aos="zoom-in-up" data-aos-duration="1000" class="flex flex-wrap leading-relaxed w-full z-10">
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-3xl mb-4 md:text-5xl lg:text-6xl">"Świat wokół ciebie</h1>
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-3xl mb-4 md:text-5xl lg:text-6xl">jest twoim</h1>
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-3xl mb-4 md:text-5xl lg:text-6xl">rozszerzonym ja"</h1>
        </div>
    </div>
    <div class="grid pb-12 md:pb-24 lg:pb-36">
        <h4 data-aos="fade-up-left" data-aos-duration="1000" class="text-sm font-plus-jakarta-sans text-white justify-self-end mr-12 md:mr-36 lg:mr-52 2xl:mr-80 md:text-base lg:text-lg 2xl:text-xl">M. Gandhi </h4>
    </div>
    <div class="flex items-start pb-24 relative md:mx-24 md:pb-32 lg:mx-48 lg:pb-48">
        <div class="text-wrapper flex flex-col items-center relative z-10">
          <div data-aos="fade-right" data-aos-duration="1000" class="text-lg leading-relaxed w-1/2 font-semibold font-plus-jakarta-sans text-white md:text-2xl lg:text-3xl 2xl:text-4xl 2xl:w-3/5 relative">
            <h4>Do pełnej otwartości powinniśmy wdrażać w życie ideę wzajemnego włączania i wyrównywania szans poprzez obopólne zrozumienie i empatię.</h4>
          </div>
        </div>
        <div class="absolute mx-12 xl:mx-12 2xl:mx-24 left-0 right-0 -top-80 flex justify-center items-center mx-4 z-0 md:-top-80 lg:-top-160 2xl:-top-200">
            <!-- <span>
                <img src="./././assets/only_logo-removebg-preview.png" alt="Logo" class="w-96 h-auto">
            </span> -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -6 6 6">
                <path d="M 0 0 L 4 0 L 6 -2 L 6 -6 L 2 -6 L 0 -4 L 0 0 V 0 L 2 0 L 2 -6 L 4 -6 L 4 0 L 6 -2 L 0 -2 L 0 -4 L 6 -4" stroke="black" stroke-width="0.005" fill="none"/>
            </svg>
        </div>
    </div>

</div>
