<div class="bg-black">
    <div class="wrapper mx-48">
        <div class="flex flex-col text-white pt-36 pb-12 font-plus-jakarta-sans ">
            <p class="text-6xl">Dlaczego</p>
            <p class="text-9xl"><span class="font-bold">DEI</span> team<p>
        </div>
        <div class="flex justify-between items-center w-full pt-12 pb-12 ">
            <hr class="w-full border-t-2 border-white-500 ">
        </div>
        <div class="flex flex-row space-x-12 pb-36 text-xl">
            <div class="flex flex-col w-1/2 text-white">
                <ul class="list-disc">
                    <li>Możliwość zwiększenia odporności organizacyjnej i zdolności do szybkiej adaptacji dzięki implementacji DEI w kulturze organizacji.</li>
                    <li>ESG staje się realnym wymogiem w polskim społeczeństwie, dlatego przygotuj siebie i swoją organizację do nadciągających zmian. Zaopiekuj element związany ze społecznością w duchu DEI.</li>
                    <li>Rozwój i efektywność to kluczowe czynniki dzisiejszego świata, możesz je podnieść poprzez różnorodność, równość i inkluzywność w swojej organizacji.</li>
                    <li>Wzmocnij społeczną markę pracodawcy.</li>
                </ul>
            </div>
            <div class="flex flex-col w-1/2 text-white">
                <ul class="list-disc">
                    <li>DEI poprzez zaopiekowanie wszelkich grup społecznych podnosi również konkurencyjność sprzedażową.</li>
                    <li>Zadbaj o równość płac w swojej organizacji,</li>
                    <li>Pozostań sobą! Tutaj odnajdziesz miejsce w którym możesz czuć się swobodnie i wyrażać w pełni siebie, swoje umiejętności i podejście.</li>
                    <li>Nie daj się zaszufladkować, jako wyjątkowa osoba poprzez odpowiednie wyeksponowanie swoich umiejętności i kwalifikacji możesz podnieść również swoją konkurencyjność na rynku pracy.</li>
                </ul>
            </div>
        </div>
    </div>
</div>