<div class="bg-white">
    <div data-aos="fade-right" data-aos-duration="1000" class="wrapper mx-12 lg:mx-48 pt-24 pb-24 lg:pt-48 lg:pb-48">
        <p class="text-3xl lg:text-9xl text-black font-plus-jakarta-sans font-bold">Partnerzy</p>
        <div class="flex justify-between items-center w-full pt-12 pb-12 ">
            <hr class="w-full border-t-2 border-black">
        </div>
        <div class="flex flex-row space-x-2 pt-12 lg:pt-36">
            <div data-aos="fade-right" data-aos-duration="2000" class="w-1/4">
                <img src="./././assets/logo1-removebg-preview.png">
            </div>
            <div data-aos="fade-right" data-aos-duration="2000" class="w-1/4">
                <img src="./././assets/logo2-removebg-preview.png">
            </div>
        </div>
    </div>
</div>