<div class="bg-white">
    <div class="wrapper mx-12 md:mx-36 lg:mx-48 pb-48">
        <div data-aos="fade-right" data-aos-duration="1000" class="flex flex-col text-black font-black pt-36 pb-12 font-plus-jakarta-sans ">
            <p class="text-6xl lg:text-9xl">Wpływ -</p>
            <p class="text-6xl lg:text-9xl">co robimy?<p>
        </div>
        <div class="flex flex-row space-x-2 pt-12 lg:pt-36">
            <div data-aos="fade-right" data-aos-duration="2000" class="w-1/4">
                <img src="./././assets/planeta-1.png">
                <a class="text-sm lg:text-xl"><p class="font-bold">DEI Community Team Meetups:</p>zrzeszamy loklane społeczności poprzez organizację cyklicznych spotkań w głównych miastach w Polsce. Zostań częścią lokalnej społeczności DEI team.</a>
            </div>
            <div data-aos="fade-right" data-aos-duration="1750"class="w-1/4">
                <img src="./././assets/ksi-1.png">
                <a class="text-sm lg:text-xl"><p class="font-bold">Edukacja:</p>zasięgamy wiedzy ekspertów z różnych dziedzin wokół DEI podczas webinari i event'ow krajowych i międzynarodowych</a>
            </div>
            <div data-aos="fade-right" data-aos-duration="1250" class="w-1/4">
                <img src="./././assets/reka-3.png">
                <a class="text-sm lg:text-xl"><p class="font-bold">Networking:</p>Umożliwiamy dialog dla organizacji poprzez serię spotkań branżowych na szczeblu krajowym i międzynarodowym o tematyce DEI i HR.</a>
            </div>
            <div data-aos="fade-right" data-aos-duration="1000" class="w-1/4">
                <img src="./././assets/miasto2.png">
                <a class="text-sm lg:text-xl"><p class="font-bold">Wyrównanie szans:</p>łączymy społeczności DEI Community Team z lokalnymi organizacjami z sektora publiczego i prywatnego, aby każdy głos był równie słyszalny.</a>
            </div>
        </div>
        <div class="flex justify-between items-center w-full pt-20 pb-12 ">
            <hr class="w-full border-t-2 border-black">
        </div>
        <div data-aos="fade-right" data-aos-duration="1000" class="flex flex-row space-x-12 md:space-x-36 lg:space-x-80 2xl:space-x-96">
            <div class="flex flex-col font-bold text-base md:text-3xl lg:text-3xl space-y-8 md:space-y-24 lg:space-y-24">
                <a>nasze wartości</a>
                <img src="./././assets/Group-155.png">
            </div>
            <div class="flex flex-col text-xl md:text-4xl lg:text-5xl 2xl:text-6xl font-bold leading-snug">
                <a>równość</a>
                <a>empatia</a>
                <a>otwartość</a>
                <a>różnorodność</a>
                <a>inkluzywność</a>
            </div>
        </div>
    </div>
</div>