<div class="bg-white">
    <div class="wrapper mx-48 pb-48">
        <div data-aos="fade-right" data-aos-duration="1000" class="flex flex-col text-black font-black pt-36 pb-12 font-plus-jakarta-sans ">
            <p class="text-9xl">Wpływ -</p>
            <p class="text-9xl">co robimy?<p>
        </div>
        <div class="flex flex-row pt-36">
            <div data-aos="fade-right" data-aos-duration="2000" class="w-1/4">
                <img src="./././assets/planeta-1.png">
                <a>Budujemy globalną społeczność dla wszystkich, złożoną z organizacji, firm, różnych grup społecznych.</a>
            </div>
            <div data-aos="fade-right" data-aos-duration="1750"class="w-1/4">
                <img src="./././assets/ksi-1.png">
                <a>Wspieramy edukację na każdym poziomie, społecznym i organizacyjnym. pb o DEI, zarządzaniu zmianami w organizacji czy perspektywicznym rozwoju dla grup zmarginalizowanych.</a>
            </div>
            <div data-aos="fade-right" data-aos-duration="1250" class="w-1/4">
                <img src="./././assets/reka-3.png">
                <a>Dialog społeczny poprzez eventy, networking z biznesem, publicznym sektorem i grupami społecznymi w celu identyfikacji problemów, znajdowaniu rozwiązań i ich implementacji.</a>
            </div>
            <div data-aos="fade-right" data-aos-duration="1000" class="w-1/4">
                <img src="./././assets/miasto2.png">
                <a>Wyrównujemy szanse poprzez współpracę z lokalnymi organizacjami.</a>
            </div>
        </div>
        <div class="flex justify-between items-center w-full pt-20 pb-12 ">
            <hr class="w-full border-t-2 border-black">
        </div>
        <div data-aos="fade-right" data-aos-duration="1000" class="flex flex-row space-x-96">
            <div class="flex flex-col font-bold text-3xl space-y-24">
                <a>nasze wartości</a>
                <img src="./././assets/Group-155.png">
            </div>
            <div class="flex flex-col text-6xl font-bold leading-snug">
                <a>równość</a>
                <a>empatia</a>
                <a>otwartość</a>
                <a>różnoroność</a>
                <a>inkluzywność</a>
            </div>
        </div>
    </div>
</div>