<div class="bg-black">
    <div class="wrapper md:text-xl lg:text-xl text-xs space-x-4 mx-8 lg:mx-48 pb-4 pt-4 flex flex-row justify-between items-center h-68">
        <div class="flex flex-col font-plus-jakarta-sans font-light text-white font-plus-jakarta-sans">
            <h4><a href="./././assets/polityka-prywatnosci.pdf" download="polityka-prywatnosci.pdf" class="font-light text-white font-plus-jakarta-sans whitespace-nowrap">Polityka prywatności</a></h4>
        </div>
        <img src="./././assets/logo-white.png" alt="Logo" class="h-24 md:h-32">
        <div class="flex flex-col font-plus-jakarta-sans font-light text-white font-plus-jakarta-sans">
            <p>Fundacja <span class="font-bold">DEI Team</span></p>
            <p>z siedzibą w Gdańsku:</p>
            <p>Krzysztofa Komedy 2B/9</p>
            <p>80-176 Gdańsk, wpisana do</p>
            <p>rejestru stowarzyszeń prowadzonego</p>
            <p>przez Sąd Rejonowy Gdańsk - Północ w Gdańsku</p>
            <p>VII Wydział Gospodarczy</p>
            <p>KRS pod numerem KRS: 0001092218</p>
            <p>o numerze NIP: 5833503414</p>
        </div>
    </div>
    <hr class="w-4/5 border-t-2 border-white mx-48">
    <footer class="flex justify-center text-white">
        <p>© 2024 DEIteam. All rights reserved</p>
    </footer>
</div>
