<div class="bg-black">
    <div class="wrapper md:text-xl lg:text-xl text-xs space-x-4 mx-8 lg:mx-48 flex flex-row justify-between items-center h-36">
        <div class="flex flex-col font-plus-jakarta-sans font-light text-white font-plus-jakarta-sans">
            <h4><button class="font-light text-white font-plus-jakarta-sans whitespace-nowrap">dokumenty do pobrania</button></h4>
            <p>Polityka prywatnosci</p>
            <p>Dokumenty Statusowe</p>
        </div>
        <img src="./././assets/logo-white.png" alt="Logo" class="h-24 md:h-32">
        <div class="flex flex-col font-plus-jakarta-sans font-light text-white font-plus-jakarta-sans">
            <p>Fundacja <span class="font-bold">DEI Team</span></p>
            <p>z siedziba w Gdansku</p>
            <p>o numerze NIP 5833503414</p>
        </div>
    </div>
</div>