<div class="h-full bg-customLightBlue">
    <div class="flex h-full justify-between items-center pt-24">
        <a class="text-base text-white font-plus-jakarta-sans mx-48">O DEI Team</a>
    </div>
    <div class="flex items-center mx-48 pt-48 pb-36">
        <div class="flex flex-wrap w-full">
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-9xl mb-4">Członkostwo</h1>
            <h1 class="w-full font-plus-jakarta-sans font-black text-white text-9xl">w DEI team</h1>
        </div>
    </div>
    <div class="flex items-start mx-48 pb-24 relative ">
        <div class="text-wrapper flex flex-col items-start relative">
          <div class="text-3xl leading-relaxed w-4/5 font-semibold font-plus-jakarta-sans text-black relative">
            <h4>Dołączając do DEI Team, stajesz się częścią społeczności, która ma realny wpływ na kształtowanie lepszego jutra Twojej organizacji, rynku pracy i społeczności!</h4>
          </div>
        </div>
    </div>
    <div class="flex justify-center items-center pt-24 relative">
        <div class="text-wrapper w-1/2 flex flex-col  space-y-20 items-start relative">
          <div class="text-3xl text-bold font-plus-jakarta-sans text-black relative">
            <h4>Członkowie DEI team mają do wyboru dostęp do darmowej Strefy dla Społeczności, lub płatnej Strefy dla Organizacji</h4>
          </div>
          <ul class="list-disc flex flex-col space-y-12 text-xl font-plus-jakarta-sans">
            <li>Globalnej społeczności: Współpracujesz z ludźmi z różnych krajów i sektorów, wymieniając doświadczenia i wiedzę wdziedzinie DEI i nie tylko.</li>
            <li>Networkingu i interakcji w różnych sektorach: Budujesz relacje z profesjonalistami z różnych branż, co pozwala na wymianę pomysłów i wspólną pracę nad rozwojem DEI.</li>
            <li>Rozwiązań minimalizujących bariery w zatrudnieniu: Uzyskujesz dostęp do edukacji i narzędzi, które pomagają zwiększyć Twój dostęp do inkluzywnych procesów rekrutacyjnych i miejsc pracy.</li>
            <li>Stref dedykowanych specyficznym grupom, które rozwiązują realne problemy, tj. DEI team Women Zone- dedykowane Kobietom, czy DEI team Inclusion Zone- dedykowane wielu grupom społecznym (małe miejscowości, mniejszości narodowe, LGBTQ+, i więcej)</li>
          </ul>
          <div class="text-3xl text-bold font-plus-jakarta-sans text-black relative">
            <h4>Dołącz do DEI Team już dziś i stań się częścią ruchu, który przyczynia się do tworzenia bardziej sprawiedliwego i otwartego świata dla wszystkich!</h4>
          </div>
        </div>
    </div>   
    <div class="flex justify-center pt-24 pb-24">
        <button class="bg-white font-bold text-black font-plus-jakarta-sans py-2 px-4 rounded-full">
            DOŁĄCZ
        </button>
    </div>
    <div class="flex flex-col justify-center items-start mx-48">
        <form class="w-full max-w-lg">
            <div class="md:flex md:items-center mb-6">
              <div class="md:w-1/3">
                <label class="block text-3xl text-black-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                  imię:
                </label>
              </div>
              <div class="md:w-2/3">
                <input class="bg-transparent appearance-none border-gray-200 rounded w-full py-2 px-4 text-white text-3xl leading-tight focus:outline-none focus:bg-transparent focus:border-purple-500" id="inline-full-name" type="text" value="Jan">
              </div>
            </div>
        </form>
        <form class="w-full max-w-lg">
            <div class="md:flex md:items-center mb-6">
              <div class="md:w-1/3">
                <label class="block text-3xl text-black-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                  nazwisko:
                </label>
              </div>
              <div class="md:w-2/3">
                <input class="bg-transparent appearance-none border-gray-200 rounded w-full py-2 px-4 text-white text-3xl leading-tight focus:outline-none focus:bg-transparent focus:border-purple-500" id="inline-full-name" type="text" value="Testowy">
              </div>
            </div>
        </form>
        <form class="w-full max-w-lg">
            <div class="md:flex md:items-center mb-6">
              <div class="md:w-1/3">
                <label class="block text-3xl text-black-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                  e-mail:
                </label>
              </div>
              <div class="md:w-2/3">
                <input class="bg-transparent appearance-none border-gray-200 rounded w-full py-2 px-4 text-white text-3xl leading-tight focus:outline-none focus:bg-transparent focus:border-purple-500" id="inline-full-name" type="text" value="email@example.com">
              </div>
            </div>
        </form>
    </div>
    <div class="flex justify-center pt-24 pb-24">
        <button class="bg-white font-bold text-black font-plus-jakarta-sans py-2 px-4 rounded-full">
            WYŚLIJ
        </button>
    </div>
</div>
