<div class="bg-gray-500 pt-24 pb-24 lg:pt-48 lg:pb-48">
    <div class="wrapper mx-8 lg:mx-48 space-y-4 lg:space-y-12">
        <p data-aos="fade-right" data-aos-duration="1000" class="text-5xl lg:text-9xl text-white font-plus-jakarta-sans font-black pb-24">Wydarzenia</p>
        <p data-aos="fade-right" data-aos-duration="1000" class="text-xl lg:text-3xl font-bold text-black font-plus-jakarta-sans">Nadchodzące wydarzenia</p>
        <div data-aos="fade-right" data-aos-duration="1000" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4">
            <div class="flex flex-col">
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black font-bold">Perspektywy Women in Tech</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Kiedy: </a>11-12.06.2024</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Gdzie: </a>Warszawa, Expo</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Co: </a>Przyjdź na stoisko DEI team'u</p>
            </div>
            <div class="flex flex-col">
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black font-bold">"S" w ESG - co to znaczy dla Twojej firmy i jak zacząć</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Kiedy: </a>sierpień 2024 (dokładna data i zapisy wkrótce)</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Gdzie: </a>Online</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Co: </a>Webinar prowadzony przez ekspertów o "S" w raportowaniu ESG</p>
            </div>
            <div class="flex flex-col">
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black font-bold">Różnorodny lunch, część 2, Gdańsk</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Kiedy: </a>wrzesien 2024 (dokładna data i zapisy wkrótce)</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Gdzie: </a>Gdańsk</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Co: </a>Zgromadzenie przedstawicieli biznesów oraz społeczności Gdańska w celu
                    przeprowadzenia debat z ekspertami DE&I i HR oraz możliwość networkingu i
                    połączenie społeczności z biznesem.</p>
            </div>
            <div class="flex flex-col">
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black font-bold">DEI team - People Summit</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Kiedy: </a>Listopad 2024 (dokładna data i zapisy wkrótce)</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Gdzie: </a>Warszawa</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Co: </a>Doroczna uroczystość dla partnerów DEI team, i nie tylko. Konferencja dedykowana specjalistom HR i biznes leader'om bogata w panele dyskusyjne, workshop'y oraz networking</p>
            </div>
            <div class="flex flex-col">
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black font-bold">DEI Community Team Meetup</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Kiedy: </a>Cyklicznie (co miesiąc/dwa)</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Gdzie: </a>Warszawa, Gdańsk, Kraków, Poznań, Wrocław, Lublin</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black"><a class="font-bold">Co: </a>Lokalne spotkania z członkami DEI team - spotkania networkingow'e dla reprezentantów HR, społeczności z różnych branż i organizacji wspierających-samorządowych i nie tylko. Tematyka jest wybierana pod potrzeby regionu.</p>
            </div>
        </div>
        <div class="flex justify-between items-center w-full pt-12 pb-12 ">
            <hr class="w-full border-t-2 border-white-500 ">
        </div>
        <p data-aos="fade-right" data-aos-duration="1000" class="text-xl lg:text-3xl text-black font-bold font-plus-jakarta-sans">Galeria zdjęć</p>
        <div data-aos="fade-right" data-aos-duration="1000" class="flex flex-row space-x-4">
            <div class="flex flex-col w-1/4">
                <!-- <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">21. maja 2024 roku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Konferencja w Gdańsku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Hala Olivia</p> -->
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Zdjęcia pojawią się wkrótce</p>
            </div>
        </div>
    </div>
</div>