<div class="bg-gray-500 pt-24 pb-24 lg:pt-48 lg:pb-48">
    <div class="wrapper mx-8 lg:mx-48 space-y-4 lg:space-y-12">
        <p data-aos="fade-right" data-aos-duration="1000" class="text-5xl lg:text-9xl text-white font-plus-jakarta-sans font-black pb-24">Wydarzenia</p>
        <p data-aos="fade-right" data-aos-duration="1000" class="text-xl lg:text-3xl font-bold text-black font-plus-jakarta-sans">Nadchodzace wydarzenia</p>
        <div data-aos="fade-right" data-aos-duration="1000" class="flex flex-row space-x-4">
            <div class="flex flex-col w-1/4">
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">21. maja 2024 roku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Konferencja w Gdańsku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Hala Olivia</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">godz. 12:00</p>
            </div>
            <div class="flex flex-col w-1/4">
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">21. maja 2024 roku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Konferencja w Gdańsku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Hala Olivia</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">godz. 12:00</p>
            </div>
            <div class="flex flex-col w-1/4">
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">21. maja 2024 roku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Konferencja w Gdańsku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Hala Olivia</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">godz. 12:00</p>
            </div>
            <div class="flex flex-col w-1/4">
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">21. maja 2024 roku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Konferencja w Gdańsku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Hala Olivia</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">godz. 12:00</p>
            </div>
        </div>
        <div class="flex justify-between items-center w-full pt-12 pb-12 ">
            <hr class="w-full border-t-2 border-white-500 ">
        </div>
        <p data-aos="fade-right" data-aos-duration="1000" class="text-xl lg:text-3xl text-black font-bold font-plus-jakarta-sans">Galeria zdjec</p>
        <div data-aos="fade-right" data-aos-duration="1000" class="flex flex-row space-x-4">
            <div class="flex flex-col w-1/4">
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">21. maja 2024 roku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Konferencja w Gdańsku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Hala Olivia</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">godz. 12:00</p>
            </div>
            <div class="flex flex-col w-1/4">
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">21. maja 2024 roku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Konferencja w Gdańsku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Hala Olivia</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">godz. 12:00</p>
            </div>
            <div class="flex flex-col w-1/4">
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">21. maja 2024 roku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Konferencja w Gdańsku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Hala Olivia</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">godz. 12:00</p>
            </div>
            <div class="flex flex-col w-1/4">
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">21. maja 2024 roku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Konferencja w Gdańsku</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">Hala Olivia</p>
                <p class="text-sm lg:text-base font-plus-jakarta-sans text-black">godz. 12:00</p>
            </div>
        </div>
    </div>
</div>