@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-dialog-container {
  position: absolute;
  top: 50px;
  width: 800px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(75deg, #4ad41f, #f55d37);
  transition: background 0.5s ease-in-out;
}

h2[mat-dialog-title] {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  color: #444;
  font-weight: 500;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  min-height: 100px;

  ul {
    padding: 0;
    margin-left: 20px;

    li {
      margin-bottom: 10px;
      padding: 10px;
      border-left: 4px solid #007bff;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 8px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(0, 123, 255, 0.1);
      }

      a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Actions styling */
mat-dialog-actions {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
